.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}

.addressButtons {
    display: inline-block;
}

.updatePanelContainer {
    width: 50%;
    margin-left: 25%;
}

.labelContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

.radioBtn {
    transform: scale(1.5);
}

.radioBtn:checked + label {
    color: #2196F3;
}

#totalSumOfOrder {
    text-align: right;
}
